name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.18

    - name: Build
      run: make build

    - name: Test
      run: make test

    - name: Check
      run: make code-check

    - name: Benchmark
      run: make benchmark
      
    - name: Coverage
      run: make coverage

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v2
